<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Rent a Gadget</title>

  </head>
  <body>

  <h1><%= obj.title %></h>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="ejs.js"></script>
  </body>
</html>
