/*
BUTTONS
*/

button, input#suggest-new {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $color-bg;
  background-color: $color-bg-title;
  padding: 5px 15px;
  border: none;
  vertical-align: middle;
}

input#suggest-new {
    margin-left: 230px;
    background-color: #4e1f37;
}
